body {
	background-image: url('../Images/FW%20background.jpg');
}
ul {
	border: 1px solid;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:auto;
	background-color:#f1f1f1;
	top:0px;
	left:0px;
	width:100%;
}
ul:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

li:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 2px 2px 5px #AEB551, 2px 2px 2px #999;
}
li a:hover:not(.active) {
    background-color:aqua;}
footer {
	background:#f1f1f1;
	border: 1px solid;
	text-align:center;
	height:48px;
	position: absolute;
	top: 720px;
	width: 100%;
	left:0px;
}
footer:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
	padding-top: 3px;
	margin-top: 3px;
	text-indent: 25px;
	font-family: Arial;
}
h1 {
	text-align: center;
}
article#content {
	height: 635px;
	width: 820px;
	padding:6px;
	margin-top:10px;
}
div#sidebar {
	height: auto;
	width: 300px;
	position: fixed;
	top: 170px;
	left: 880px;
	margin: 5px 5px 5px 5px;
	background-color:#C0C0C0;
	padding-left:20px;
	padding-right:10px;
	border-radius: 15px 50px 30px;
}
#sidebar:hover{
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
}
article {
	background-color:#C0C0C0;
	position:absolute;
	border-radius: 45px 10px;
}










